a {
    text-decoration: none;
}

/* 学院首页 */

.text-ellipsis {
    overflow: hidden;
    display: block;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.text-ellipsis-muti {
    overflow: hidden;
    /*超出隐藏*/
    text-overflow: ellipsis;
    /*文本溢出时显示省略标记*/
    display: -webkit-box;
    /*设置弹性盒模型*/
    -webkit-box-orient: vertical;
}

.text-ellipsis-2 {
    -webkit-line-clamp: 2;
    /*文本占的行数,如果要设置2行加...则设置为2*/
}

.text-ellipsis-3 {
    -webkit-line-clamp: 3;
    /*文本占的行数,如果要设置2行加...则设置为2*/
}

.text-ellipsis-4 {
    -webkit-line-clamp: 4;
    /*文本占的行数,如果要设置2行加...则设置为2*/
}

.text-ellipsis-6 {
    -webkit-line-clamp: 6;
    /*文本占的行数,如果要设置2行加...则设置为2*/
}

.commonTitle {
    color: #2e2a3f;
    font-size: 24px;
    padding: 30px 0;
}

.commonMore {
    font-size: 16px;
    color: #98a6ad;
    margin-top: 9px;
}

.commonList {
    margin-bottom: 50px;
}

.commonList .img_wrap {
    width: 100%;
    font-size: 0;
}

.commonList .item:hover {
    text-decoration: none;
}

.commonList .img_wrap .flag {
    top: 0;
    right: 0;
    background-color: #93959a;
    color: #fff;
    padding: 3px 10px;
}

.commonList .img_wrap p {
    width: 90%;
    height: 56px;
    line-height: 28px;
    color: #0ab394;
    top: 30%;
    left: 5%;
    font-size: 18px;
    box-sizing: border-box;
}

.commonList .img_wrap img {
    width: 100%;
}

.commonList .item .para {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
}

.commonList .item .para p {
    color: #333333;
    line-height: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.commonList .item .para p.f14 {
    height: 45px;
}

/* 培训集锦 */

.train {
    background-color: #f1f1f1;
}

.train_wrap {
    height: auto;
    background: url(../img/train_icon.png) no-repeat 100% 20%;
    background-size: 20%;
}

/* 热门课程 */

.hot_course {
    margin-bottom: 50px;
}

.courseList {
    width: 100%;
}

.courseList .item {
    /* border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb; */
    padding: 18px 25px 25px;
}

.line {
    background-color: rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.line_r {
    width: 1px;
    height: 200%;
    top: 0;
    right: 0;
}

.line_b {
    width: 200%;
    height: 1px;
    bottom: 0;
    left: 0;
}

.courseList .item h2 {
    font-size: 18px;
    line-height: 30px;
    color: #2e2a3f;
    margin-bottom: 15px;
}

.courseList .item p {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 10px;
    text-align: justify;
}

.courseList .item p.text-ellipsis-2 {
    height: 40px;
}

.courseList .item img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.view_more {
    font-size: 16px;
    color: #666;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #666;
    width: 140px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-top: 25px;
}

/* 企业培训申请流程 */

.appli_process {
    background-color: #18b494;
    height: auto;
    padding: 32px 0;
}

.appli_process_l {
    overflow: hidden;
}

.appli_process_l p, .appli_process_l a {
    color: rgba(255, 255, 255, 0.9)
}

.appli_process_l p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.appli_process_l a {
    width: 120px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 10px;
}

.appli_process_r {
    width: 100%;
    height: 100px;
    background: url(../img/process_line.png) no-repeat center center;
    background-size: contain;
}

/* 金牌导师 */

.tutor {
    padding: 20px 0 50px 0;
}

.tutorList .item img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
    margin-bottom: 25px;
}

.tutorList .item h1 {
    font-size: 28px;
    color: #23d2ba;
    margin-bottom: 10px;
}

.tutorList .item p {
    /* height: 20px; */
    line-height: 20px;
    margin-bottom: 10px;
    color: #666;
}

/* 为什么选择我们 */

.whyChangeUs {
    padding: 20px 0 0;
    background-color: #f1f1f1;
}

.usList {
    margin-top: 50px;
}

.usList .item {
    margin-bottom: 60px;
}

.usList .item img {
    width: 80px;
    height: 92px;
    display: block;
    margin: 0 auto;
}

.usList .item h1 {
    color: #0c7fbf;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.usList .item p {
    color: #666;
    line-height: 20px;
    height: 40px;
    font-size: 14px;
}

.usImg {
    height: 360px;
    background: url(../img/whyChangeUs.png) no-repeat center center;
    background-size: contain;
    margin-top: 50px;
}

/* 活动详情 */

.activity_detail {
    background-color: #f8f8f8;
    overflow: hidden;
}

.detail {
    margin-top: 10px;
}

.activity_top, .activity_bottom {
    padding: 30px;
    background-color: #fff;
}

.activity_top .col-lg-3 {
    padding-left: 0;
}

.activity_top img {
    width: 100%;
}

.activity_top .info h1 {
    color: #2e2a3f;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.activity_top .info p {
    color: #656565;
    height: 24px;
    line-height: 24px;
    margin-bottom: 3px;
}

.activity_top .info p .cur {
    color: #5267ff;
}

.activity_top .sign_up {
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: #cccccc;
    color: #656565;
    display: inline-block;
    border-radius: 5px;
}

.activity_bottom {
    margin-top: 20px;
}

.activity_bottom_tab {
    border-bottom: 1px solid #dddddd;
}

.activity_bottom_tab a {
    color: #333;
    padding: 20px;
    font-size: 20px;
}

.activity_bottom_tab a.cur {
    border-bottom: 1px solid #17b594;
}

.activity_bottom_body {
    min-height: 500px;
    margin-top: 30px;
}

.reply_list {
    margin-bottom: 50px;
}

.reply_list p {
    line-height: 20px;
    margin-bottom: 5px;
}

.reply_list .item {
    /* padding: 10px 0; */
    box-sizing: border-box;
}

.reply_list .name {
    color: #6666ff;
    margin-top: 8px;
}

.reply_list .content {
    color: #666666;
}

.reply_list .time {
    color: #999999;
}

.reply_list .time img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 20px;
}

.reply_form button {
    margin-top: 10px;
}

/* 入孵企业详情 */

.hatchedTop {
    background-color: #1bd1b9;
}

.hatchedWrap {
    margin-top: 30px;
    margin-bottom: 40px;
}

.hatchedImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5%;
}

.hatchedInfo {
    width: 300px;
    margin-top: 5px;
}

.hatchedInfo p {
    width: 100%;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.hatchedInfo p span {
    border: 1px solid #fff;
    padding: 2px 5px;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 5px;
}

.hatchedBody {
    margin-top: 30px;
}

/* 入孵企业列表 */

.hatchedList .row {
    width: 100%;
}

.hatchedList .item {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}

.hatchedList .item .line_green {
    width: 60px;
    height: 1px;
    background-color: #1bd1b9;
    margin: 0 auto 10px auto;
}

.hatchedList .item h1 {
    color: #333;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.hatchedList .item p {
    width: 80%;
    margin-left: 10%;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.hatchedList .item p span {
    color: #666;
    display: inline-block;
    padding-right: 5px;
}

.hatchedList .item .rel {
    height: 96px;
    box-sizing: border-box;
    margin-top: 50px;
}

.hatchedList .item .rel .img_wrap {
    width: 86px;
    height: 86px;
    left: 50%;
    margin-left: -38px;
    z-index: 10;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.hatchedList .item .rel img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.hatchedList .item .rel .img_line {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
    left: 10%;
    z-index: 9;
}