<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<!--#include file="home/header.html" -->
<body>
<!--双创空间详情页-->
<div style="background-color:#f1f1f1;width:100%;padding-top:30px;padding-bottom:50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="index_headline" style="margin-right:0;background-color:#fff;border:none;">
							<div class="incubation_detail_content float_left">
								<h4 class="h4">武汉火凤凰云计算公司</h4>
								<p class="p3 line-height">地址: 武汉火凤凰云计算孵化器有限公司</p>
								<p class="p3 line-height">联系电话:027-59103580</p>
								<p class="p3 line-height">级别:国家级</p>
								<p class="p3 line-height">地区:江汉区</p>
								<!--<el-button type="text" @click="spaceForm = true" class="btn3" style="line-height:20px;">立即申请 ></el-button>-->
								<button class="btn3">申请入驻</button>
								<p class="p4 color2">武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器有限公司</p>
							</div>
						</div>
					</div>
				</div>
				<!--空间展示-->
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<h1 class="detail_title"><span>|</span>空间展示</h1>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<div class="space_show_img" style="margin-right:0;;border:none;">
							<div class="row">
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="background-color:#fff">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<div>
												<img src="img/eg1.jpg" alt="">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<div>
												<img src="img/eg2.jpg" alt="">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<div>
												<img src="img/eg3.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 space_show_right">
									<div style="border-bottom:1px solid #ddd;padding-bottom:10px;">
										<h1 class="detail_title"><span>|</span> 空间展示</h1>
										<p>有</p>
									</div>
									<div style="padding-bottom:30px;">
										<h1 class="detail_title"><span>|</span> 入驻类型</h1>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
										<span class="label2" v-for="(item,index) in 8" :key="index">信息产品</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--招商政策-->
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<h1 class="detail_title"><span>|</span> 招商政策</h1>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<div class="investment_policy">
							<ul>
								<li> · 火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器<span>器有限公司武汉</span>器有限公司武汉政策</li>
								<li> · 火凤凰云计算孵化器有限公司武汉火凤凰云计算孵化器<span>云计算孵化</span>策策招商政策</li>
								<li> · 火凤凰云计算孵化器有限公司武汉火<span>招商政</span>公司武汉火凤凰云计算</li>
								<li> · 火凤凰云计算孵<span>化器有</span>器有限公司武汉火凤凰云计算孵化器</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<h1 class="detail_title"><span>|</span> 空间服务</h1>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<div class="index_headline" style="margin-right:0;background-color:#fff;border:none;">
							<div class="row">
								<div class="col-lg-1 col-md-1 col-sm-3 col-xs-4 space_show">
									<div class="space_img">
										<div>
											<img src="img/why_1.png" alt="">
											<p>信息产业</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<h1 class="detail_title"><span>|</span> 配套设施</h1>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space_show">
						<div class="index_headline" style="margin-right:0;background-color:#fff;border:none;">
							<div class="row">
								<div class="col-lg-1 col-md-1 col-sm-3 col-xs-4">
									<div class="space_img">
										<div>
											<img src="img/why_1.png" alt="">
											<p>会议室</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!--#include file="home/footer.html" -->
</html>
